

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

}

.app-cont{
  /* width: 100%;  */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.my-form{
  width: 100%;
  padding: 10px;
  border: 1px solid black ;
}